*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
header{
    background-color: black;
    padding: 1rem;
}
#logo{
    width: 3rem;
}
.headerleft{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}
.container{
    width: 100%;
    height: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#headerright{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    }
 .link{
    color: white;
    text-decoration: none;
   list-style: none;
 }   
 .mainimage{
    width: 2000px;
 }
 h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
 }
 .points{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding-left: auto;
    padding-right: auto;
    gap: 5rem;
 }
 .content{
    display: flex;
    flex-direction: column;
    
 }
 .image{
    width: 10rem;
 }
 .first{
    background-color: rgb(117, 36, 199);
    height: 10rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }